*{
  font-family: 'Suez One', serif;
}

.app {
  min-height: 100vh;
  align-items: center;
  text-align: center;
  background-image: url(./assets/cold-bg.jpg);
  background-repeat: inherit;
  background-size: cover;
}


.appwarm{
  min-height: 100vh;
  align-items: center;
text-align: center;
background-image: url(./assets/warm-bg.jpg);
}

.input{
  font-size: 30px;
  margin-top: -5px;
  border-radius: 8px;
  text-align: center;
  border :  2px solid #ccc
}

input:focus{
  outline: none
}

.temp-box{
  text-align: center;
}

.temp{
   position: relative;
   display: inline-block;
   margin: 30px auto;
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 8px;
}

